/* Button Model Code */
.btn-group button {
    margin: 5px;
    padding: 10px;
    transition: transform 0.3s ease-in-out; /* Corrected timing function */
}

.btn-group button:hover {
    transform: scale(1.1);
}

/* Model Animation */
.model-content2,
.model-content3 {
    opacity: 0;
    transform: scale(0.7);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.model2,
.model3 {
    visibility: hidden;
    transition: visibility 0s ease-in-out 0s;
}

.model2.active .model-content2,
.model3.active .model-content3 {
    opacity: 1;
    transform: scale(1);
}
element.style {
}
.comic-style1 {
    width: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -5;
}
* {
    box-sizing: border-box;
}
user agent stylesheet
img {
    overflow-clip-margin: content-box;
    overflow: clip;
}
.mySlides {
    text-align: center;
}
#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}
function on() {
  document.getElementById("overlay").style.display = "block";
}

function off() {
  document.getElementById("overlay").style.display = "none";
}
<style>
#landingscreen{
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    position: absolute;
    background-image: url("VantaBD_Coverart_smile (1).png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-position-x: center;
    background-position-y: center;
    Position: fixed is there
    z-index: 2;
}
</style>

<div id="overlay">
</div>


}
</style>

<div id="overlay">
  <div id="landingscreen”</div>
</div>
