/* Button Model Code */
.btn-group button {
    margin: 5px;
    padding: 10px;
    transition: transform 0.3s ease-in-out; /* Corrected timing function */
}

.btn-group button:hover {
    transform: scale(1.1);
}

/* Model Animation */
.model-content2,
.model-content3 {
    opacity: 0;
    transform: scale(0.7);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.model2,
.model3 {
    visibility: hidden;
    transition: visibility 0s ease-in-out 0s;
}

.model2.active .model-content2,
.model3.active .model-content3 {
    opacity: 1;
    transform: scale(1);
}

/* Added .model2 and .model3 */
.model2.active,
.model3.active {
    visibility: visible;
}
body {
  background-image: url('Vantacrow Birthday Background.png');
}
element.style {
}
#overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    position: absolute;
    background-image: url("Vantacrow Birthday Background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-position-x: center;
    background-position-y: center;
    z-index: 2;
}
* {
    box-sizing: border-box;
}
div {
    display: block;
}
